

<!-- <div cdkDropList (cdkDropListDropped)="onDrop($event)" [cdkDropListData]="ownedAnimals">
    <div cdkDrag class="drag-item" *ngFor="let i of ownedAnimals">
        {{i}}
    </div>
</div> -->

<!-- AddTaskModal -->
<form [formGroup]="tasksForm" (ngSubmit)="addTask()">
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
        </div>
        <div class="modal-body">
            <div class="form-group ">
                <div class="w-100">
                <label >Task Name</label>
                <input formControlName="name" type="text" name="name"  class="form-control" aria-describedby="emailHelp" placeholder="Enter Task Name">   
            </div>
            <label class="mt-2">Task Duartion</label>

            <div class="w-100 d-flex">
                <input formControlName="TaskDurationH" type="number" name="TaskDurationH"  class="form-control w-25 " aria-describedby="emailHelp" placeholder="hour"> 
                <h1>:</h1>
                <input formControlName="TaskDurationM" type="number" name="TaskDurationM" class="form-control w-25" aria-describedby="emailHelp" placeholder="min"> 
            </div>
                    
                    
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" >Add</button>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- AddMachineModal -->
<form [formGroup]="machinesForm" (ngSubmit)="addMachine()">
    <div class="modal fade" id="addMachine" tabindex="-1" role="dialog" aria-labelledby="addMachineLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <div class="form-group ">
                    <div class="w-100">
                    <label >Machine Name</label>
                    <input formControlName="machineName" type="text" name="machineName"  class="form-control" aria-describedby="emailHelp" placeholder="Enter Machine Name">   
                </div>             
                        
                        
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" >Add</button>
            </div>
          </div>
        </div>
      </div>
    </form>

<div class="container mt-5">
    <div class=" col-md-12 d-flex justify-content-center mb-3"><button class="btn btn-primary "  data-bs-toggle="modal" data-bs-target="#addMachine" > Add Machine</button></div>

    <div class="row justify-content-center">
        <div class="col-md-3 me-2 mt-2" *ngFor="let i of machines">
            <div class="card " style="width: 18rem;">
                <div class="card-header justify-content-center">
                    <div class="row ">
                        <div class="col-md-6 ">{{i.id}}</div> 
                        <div class=" col-md-6 d-flex justify-content-end"><button class="btn btn-success addBtn p-1"  data-bs-toggle="modal" data-bs-target="#exampleModal" (click)=addBtn(i.id)> Add Task</button>
                            <button type="button" class="btn btn-danger deltBtn mx-1" (click)="deleteMachine(i.id)">Delete</button></div>

                    </div>
                </div>
                <ul style="height: 250px;border:solid 1px #000;overflow-y: scroll;" class="list-group list-group-flush scrollbar" id="{{i.id}}" cdkDropList [cdkDropListConnectedTo]="machineIds" (cdkDropListDropped)="onDrop($event)" [cdkDropListData]="tasks[i.id]">
                    <li class="list-group-item" cdkDrag class="drag-item" *ngFor="let j of tasks[i.id]">
                        <div class="row">
                        <div class="col-md-6">Task {{j.id}}</div>  <div class="col-md-6 d-flex justify-content-end"><button type="button" class="btn btn-danger deltBtn" (click)="deleteTask(j.id)">Delete</button></div>
                        <p>{{counters[j.id]}}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
<!-- <div class="row">
    <div class="col-md-3">
        <p>ownedAnimals</p>
        <div id="ownedAnimals" cdkDropList [cdkDropListConnectedTo]="['animalsWishList','animalsPets']" (cdkDropListDropped)="onDrop($event)" [cdkDropListData]="ownedAnimals">
            <div cdkDrag class="drag-item" *ngFor="let i of ownedAnimals">
                {{i}}
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <p>animalsWishList</p>
        <div id="animalsWishList" cdkDropList [cdkDropListConnectedTo]="['ownedAnimals','animalsPets']" (cdkDropListDropped)="onDrop($event)" [cdkDropListData]="animalsWishList">
            <div cdkDrag class="drag-item" *ngFor="let i of animalsWishList">
                {{i}}
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <p>animalsPets</p>
        <div id="animalsPets" cdkDropList [cdkDropListConnectedTo]="['ownedAnimals','animalsWishList']" (cdkDropListDropped)="onDrop($event)" [cdkDropListData]="animalsPets">
            <div cdkDrag class="drag-item" *ngFor="let i of animalsPets">
                {{i}}
            </div>
        </div>
    </div>
</div> -->